@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cursor-x: 0px;
  --cursor-y: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-spectral), serif;
  cursor: none;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #3b82f6;
  border-radius: 50%;
  position: fixed;
  left: var(--cursor-x);
  top: var(--cursor-y);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, background-color 0.2s;
}

.custom-cursor.hovering {
  width: 40px;
  height: 40px;
  background-color: rgba(59, 130, 246, 0.2);
}

a,
button,
[role="button"] {
  cursor: none;
}

::selection {
  background-color: rgba(255, 255, 255);
  color: black;
}

.gradient-text {
  background: linear-gradient(70deg, #3b82f6, #60a5fa, #93c5fd);
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
