@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cursor-x: 0px;
  --cursor-y: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-spectral), serif;
  cursor: none;
}

.custom-cursor {
  width: 15px;
  height: 15px;
  background-color: #3b82f6;
  border-radius: 50%;
  position: fixed;
  left: var(--cursor-x);
  top: var(--cursor-y);
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, background-color 0.2s;
  opacity: 0;
}

.custom-cursor.visible {
  opacity: 1;
}

.custom-cursor.trailing {
  width: 15px;
  height: 15px;
  background-color: rgba(59, 130, 246, 0.3);
  transition: all 0.1s ease-out;
}

.custom-cursor.hovering {
  width: 10px;
  height: 10px;
}

.custom-cursor.trailing.hovering {
  width: 40px;
  height: 40px;
  background-color: rgba(59, 130, 246, 0.2);
}

.custom-cursor.clicking {
  width: 10px;
  height: 10px;
  transition: all 0.1s ease;
}

.custom-cursor.trailing.clicking {
  width: 48px;
  height: 48px;
  background-color: rgba(59, 130, 246, 0.1);
  transition: all 0.1s ease;
}

a,
button,
[role="button"] {
  cursor: none;
}

::selection {
  background-color: rgba(255, 255, 255);
  color: black;
}

.gradient-text {
  background: linear-gradient(70deg, #3b82f6, #60a5fa, #93c5fd);
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes drill-and-move {
  0%,
  30%,
  70%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  10%,
  20% {
    transform: translate(-2px, -2px) rotate(-5deg);
  }
  40%,
  60% {
    transform: translate(20px, 20px) rotate(0deg);
  }
  80%,
  90% {
    transform: translate(18px, 18px) rotate(5deg);
  }
}

.animate-drill {
  animation: drill-and-move 6s ease-in-out;
}

.spark {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #ffa500;
  border-radius: 50%;
  animation: spark 0.5s ease-out infinite;
}
